body {
    background-color: #282C34;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

img.center, picture.center {
    display:block;
}

.center {
    margin:0 auto;
}

.CWS {
    margin-bottom: 3rem;
}

.instructions-container {
    margin-bottom: 2.5rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #282C34;
  }

.svg-inline--fa {
    font-size: 1.5rem;
}

.fa-heart {
    --fa-primary-color: red;
    --fa-secondary-color: pink ;
    --fa-secondary-opacity: 0.6;
}

.fa-hand-holding-heart {
    --fa-primary-color: red;
    --fa-secondary-color: antiquewhite;
    --fa-secondary-opacity: 0.5;
}

.flag {
    width: 30px;
    height: 20px;
    -webkit-box-shadow: 0px 0px 0px 2px antiquewhite;
    -moz-box-shadow: 0px 0px 0px 2px antiquewhite;
    box-shadow: 0px 0px 0px 2px antiquewhite;
    margin: 0 7px 0 5px;
    transform: translateY(-5px);
}